@page  "/ItemList"
@page "/ItemList/{id:int}"
@inject IePRService ePRService
@inject NavigationManager NavigationManager


<h3>Item Selector for Purchase Order [Code: @newPurchaseOrderModel.Code ]</h3>

<body>
    <EditForm Model="newItemListModel" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <table class="table table-borderless table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Page ID bind to POCode</th>
                        <th>Item Code</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            @* STILL INCOMPLETE- bind page ID with POcode of itemlist and enable for first time creation of PO*@
                            <InputSelectNumber @bind-Value="newItemListModel.POCode" class="form-control">                                
                                <option value="0" selected disabled>Select PO Id</option>
                                <option value="@Id">@Id</option>
                            </InputSelectNumber>
                        </td>

                        <td>
                            <InputSelectNumber id="codeselect" @bind-Value="newItemListModel.Code" class="form-control">
                                @foreach (var item in ePRService.Items)
                                {
                                    <option value="" selected disabled hidden></option>
                                    <option value="@item.Code">@item.Code</option>
                                }
                            </InputSelectNumber>
                        </td>
                        <td>
                            <InputNumber id="qtyselect" @bind-Value="newItemListModel.Qty" class="form-control" />
                        </td>
                        <td>
                            <InputNumber id="priceselect" @bind-Value="newItemListModel.Price" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="addbutton" class="btn btn-success mb-3 rounded-pill" type="submit"><i class="oi oi-check"></i></button>
            <button id="cancelbutton" class="btn btn-warning mb-3 rounded-pill" @onclick="Cancel">Cancel</button>
        </div>
    </EditForm>
</body>


@code {
    [Parameter]
    public int? Id { get; set; }

    ItemListModel newItemListModel = new ItemListModel();
    PurchaseOrderModel newPurchaseOrderModel = new PurchaseOrderModel();

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            newPurchaseOrderModel = await ePRService.GetPurchaseOrderModelId((int)Id);
        }
        else
        {
            
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await ePRService.GetItem();
    }

    async Task HandleSubmit()
    {
        await ePRService.CreatePurchaseOrderItemList(newItemListModel);
        NavigationManager.NavigateTo($"/ViewPR/{Id}");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo($"/ViewPR/{Id}");
    }
}
