@page "/PRView"
@inject IePRService ePRService
@inject NavigationManager NavigationManager

<h3>PRView</h3>

<button class="btn btn-primary mb-3"><i class="rounded-pill"></i></button>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Doc No</th>
            <th>Date</th>
            <th>Supplier</th>
            <th>Item</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>Address Line 3</th>
            <th>Address Line 4</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in ePRService.PRItemSelectModels)
        {
        <tr>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>@item.DocNumber</td>
            <td>@item.Date</td>
            <td>@item.Supplier</td>

            <td>@item.Item</td>
        </tr>
        }

    </tbody>
</table>

@code {

}
